/* p::first-letter{
    text-transform: uppercase;
    color: blue;
} */
p::first-line{
    text-transform: uppercase;
    color: blue;
}
/* h1::before{
    content: url("add image url");
} */
h1::after{
    content: " lorem";
}
::selection{
    color: rgba(32, 25, 10, 0.521);
    background-color: yellow;
}